apiVersion: v2
name: confluence
description: A chart for installing Confluence Data Center on Kubernetes
type: application
version: 1.0.0
appVersion: 7.13.0-jdk11
kubeVersion: ">=1.19.x-0"
keywords:
  - Confluence
  - Confluence Server
  - Confluence Data Center
  - Confluence DC
  - Atlassian
home: https://atlassian.github.io/data-center-helm-charts/
icon: https://atlassian.github.io/data-center-helm-charts/icons/confluence.svg
sources:
  - https://github.com/atlassian/data-center-helm-charts
  - https://bitbucket.org/atlassian-docker/docker-atlassian-confluence-server/
deprecated: false
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Fix Synchrony ingress path
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/281
    - kind: changed
      description: Improve the graceful shutdown
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/282
    - kind: added
      description: Fix synchrony ingress path
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/283
    - kind: changed
      description: Improve documentation
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/275
        url: https://github.com/atlassian/data-center-helm-charts/pull/276
        url: https://github.com/atlassian/data-center-helm-charts/pull/277
        url: https://github.com/atlassian/data-center-helm-charts/pull/279
        url: https://github.com/atlassian/data-center-helm-charts/pull/280
        url: https://github.com/atlassian/data-center-helm-charts/pull/284
        url: https://github.com/atlassian/data-center-helm-charts/pull/285
        url: https://github.com/atlassian/data-center-helm-charts/pull/289
        url: https://github.com/atlassian/data-center-helm-charts/pull/290
        url: https://github.com/atlassian/data-center-helm-charts/pull/291
        url: https://github.com/atlassian/data-center-helm-charts/pull/293
        url: https://github.com/atlassian/data-center-helm-charts/pull/295