apiVersion: v2
name: confluence
description: A chart for installing Confluence Data Center on Kubernetes
type: application
version: 1.1.0
appVersion: 7.13.2-jdk11
kubeVersion: ">=1.19.x-0"
keywords:
  - Confluence
  - Confluence Server
  - Confluence Data Center
  - Confluence DC
  - Atlassian
home: https://atlassian.github.io/data-center-helm-charts/
icon: https://atlassian.github.io/data-center-helm-charts/icons/confluence.svg
sources:
  - https://github.com/atlassian/data-center-helm-charts
  - https://bitbucket.org/atlassian-docker/docker-atlassian-confluence-server/
deprecated: false
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - kind: changed
      description: Decrease Confluence failover time
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/299
    - kind: added
      description: Add support for custom schedulerName
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/301
    - kind: added
      description: Enable configuring ingress.class name
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/313
    - kind: changed
      description: Make security context more flexible
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/321
    - kind: added
      description: Roll Statefulset Pods if ConfigMap changes
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/315
    - kind: changed
      description: Confluence DC updated to 7.13.2 version (LTS)
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/345
dependencies:
  - name: common
    version: 0.1.0
    repository: "file://../common"
