apiVersion: v2
name: confluence
description: A chart for installing Confluence Data Center on Kubernetes
type: application
version: 1.6.0
appVersion: 7.19.2
kubeVersion: ">=1.19.x-0"
keywords:
  - Confluence
  - Confluence Server
  - Confluence Data Center
  - Confluence DC
  - Atlassian
home: https://atlassian.github.io/data-center-helm-charts/
icon: https://atlassian.github.io/data-center-helm-charts/icons/confluence.svg
sources:
  - https://github.com/atlassian/data-center-helm-charts
  - https://bitbucket.org/atlassian-docker/docker-atlassian-confluence-server/
deprecated: false
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |
    - kind: changed
      description: Confluence updated to 7.19.2 version
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/455
    - kind: changed
      description: Ingress Class Name is moved under spec.
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/450
    - kind: changed
      description: Improved documentation
      links:
      - name: Github PR
        url: https://github.com/atlassian/data-center-helm-charts/pull/448
        url: https://github.com/atlassian/data-center-helm-charts/pull/440    
dependencies:
  - name: common
    version: 1.0.0
    repository: https://atlassian.github.io/data-center-helm-charts
