apiVersion: v2
name: confluence
description: A chart for installing Confluence Data Center on Kubernetes
type: application
version: 1.16.5
appVersion: 8.5.2
kubeVersion: ">=1.21.x-0"
keywords:
- Confluence
- Confluence Server
- Confluence Data Center
- Confluence DC
- Atlassian
home: https://atlassian.github.io/data-center-helm-charts/
icon: https://atlassian.github.io/data-center-helm-charts/icons/confluence.svg
sources:
- https://github.com/atlassian/data-center-helm-charts
- https://bitbucket.org/atlassian-docker/docker-atlassian-confluence-server/
deprecated: false
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/changes: |-
    - "Fix custom jmx config (#699)"
    - "Copy cacerts first, then import certs (#696)"
    - "Fix config-jvm template to avoid wrong new line (#694)"

dependencies:
- name: common
  version: 1.2.4
  repository: https://atlassian.github.io/data-center-helm-charts
