{{- if and .Values.opensearch.enabled .Values.opensearch.envFrom }}
apiVersion: v1
kind: Secret
metadata:
  name: opensearch-initial-password
  labels:
  {{- include "common.labels.commonLabels" . | nindent 4 }}
type: Opaque
data:
  OPENSEARCH_INITIAL_ADMIN_PASSWORD: {{- include "bitbucket.opensearch.initial.admin.password" . | indent 4 }}
{{- end }}
