.idea
.vscode

target
__pycache__
*.iml
\#*\#
docs/site
tmp
.settings
.project
.classpath

# ignore installed common library chart
src/main/charts/*/charts/*.tgz

# Stale tmpfile from failed release process
src/main/charts/*/tmp*
