{{- if .Values.monitoring.exposeJmxMetrics }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}-jmx-config
  labels:
    {{- include "common.labels.commonLabels" . | nindent 4 }}
data:
  {{- if .Values.monitoring.jmxExporterCustomConfig }}
  jmx-config.yaml: |
  {{- with .Values.monitoring.jmxExporterCustomConfig }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- else }}
  jmx-config.yaml: |
    rules:
    - pattern: '(java.lang)<type=(\w+)><>(\w+):'
      name: java_lang_$2_$3
    - pattern: 'java.lang<type=Memory><HeapMemoryUsage>(\w+)'
      name: java_lang_Memory_HeapMemoryUsage_$1
    - pattern: 'java.lang<name=G1 (\w+) Generation, type=GarbageCollector><>(\w+)'
      name: java_lang_G1_$1_Generation_$2
    - pattern: '.*'
  {{- end }}
{{- end }}
