apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}-jvm-config
  labels:
    {{- include "common.labels.commonLabels" . | nindent 4 }}
data:
  additional_jvm_args: >-
    {{ include "jira.sysprop.fluentdAppender" . }}
    {{- range .Values.jira.additionalJvmArgs }}
    {{ . }}
    {{- end }}
    -XX:ActiveProcessorCount={{ include "flooredCPU" .Values.jira.resources.container.requests.cpu }}
    {{- if .Values.serviceAccount.eksIrsa.roleArn }}
    -Daws.webIdentityTokenFile=/var/run/secrets/eks.amazonaws.com/serviceaccount/token
    {{- end }}
    {{- if .Values.jira.additionalCertificates.secretName }}
    -Djavax.net.ssl.trustStore=/var/ssl/cacerts
    {{- end }}
    {{ include "common.jmx.javaagent" . | indent 4 | trim }}
  max_heap: {{ .Values.jira.resources.jvm.maxHeap }}
  min_heap: {{ .Values.jira.resources.jvm.minHeap }}
  reserved_code_cache: {{ .Values.jira.resources.jvm.reservedCodeCache }}
