kind: Service
apiVersion: v1
metadata:
  name: POD_NAME
spec:
  selector:
    role: nfs
  ports:
    - name: v3-portmapper-udp
      port: 111
      protocol: UDP
    - name: v3-mountd-udp
      port: 32767
      protocol: UDP
    - name: v3-lockd-udp
      port: 32768
      protocol: UDP
    - name: v3-lockd-tcp
      port: 32768
      protocol: TCP
    - name: v3-rpc-statd-bc-udp
      port: 32765
      protocol: UDP
    - name: v3-rpc-statd-bc-tcp
      port: 32765
      protocol: TCP
    - name: v3-rpc-statd-udp
      port: 32766
      protocol: UDP
    - name: v3-rpc-statd-tcp
      port: 32766
      protocol: TCP
    - name: v4-0-nfs-callback-tcp
      port: 32764
      protocol: TCP
    - name: v4-nfs-tcp
      port: 2049
      protocol: TCP
---

kind: Pod
apiVersion: v1
metadata:
  name: POD_NAME
  labels:
    role: nfs
    app.kubernetes.io/instance: PRODUCT_RELEASE_NAME
    app.kubernetes.io/name: bitbucket
spec:
  containers:
    - name: nfs-server-container
      image: ubuntu:latest
      securityContext:
        privileged: true
      command: ["/bin/sh"]
      args: ["-c", "apt -qq update && DEBIAN_FRONTEND=noninteractive apt install -qq -y nfs-kernel-server runit inotify-tools; mkdir -p /etc/sv/nfs ; runsvdir /etc/sv"]
      volumeMounts:
        - mountPath: /srv/nfs
          name: nfs-export-dir
  volumes:
  - name: nfs-export-dir
    emptyDir: {}
