apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "crowd.fullname" . }}-jvm-config
  labels:
    {{- include "crowd.labels" . | nindent 4 }}
data:
  additional_jvm_args: >-
    {{ include "crowd.sysprop.hazelcastListenPort" . }}
    {{ include "crowd.sysprop.clusterNodeName" . }}
    {{ include "crowd.sysprop.fluentdAppender" . }}
    {{- range .Values.crowd.additionalJvmArgs }}
    {{ . }}
    {{- end }}
  max_heap: {{ .Values.crowd.resources.jvm.maxHeap }}
  min_heap: {{ .Values.crowd.resources.jvm.minHeap }}