# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Maven unit tests

on:
  push:
    branches:
      - main
      - /.*-stable/
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.9.4

      - name: Execute helm dependency update for bamboo chart
        run: helm dependency update src/main/charts/bamboo
      - name: Execute helm dependency update for bamboo-agent chart
        run: helm dependency update src/main/charts/bamboo-agent
      - name: Execute helm dependency update for bitbucket chart
        run: helm dependency update src/main/charts/bitbucket
      - name: Execute helm dependency update for confluence chart
        run: helm dependency update src/main/charts/confluence
      - name: Execute helm dependency update for crowd chart
        run: helm dependency update src/main/charts/crowd
      - name: Execute helm dependency update for jira chart
        run: helm dependency update src/main/charts/jira

      - name: Run tests with Maven
        run: mvn -B test
